{
	"arrowParens": "always",
	"semi": true,
	"printWidth": 120,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"endOfLine": "lf",
	"importOrder": [
		"^@/styles/(.*)$",
		"^(.*).module.scss$",
		"^@/types/(.*)$",
		"^@/lib/(.*)$",
		"^@/services/(.*)$",
		"^@/providers/(.*)$",
		"^@/components/(.*)$",
		"^@/assets/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
