.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 0.5rem;
}
.editor {
	height: 100%;
	width: 100%;
	padding: 0.5rem 0 0 1rem;
	background-color: var(--gray-2);
	color: white;
	font-size: 15px;
	border: none;
	outline: none;
	resize: none;
}
.editor:hover {
	border: var(--primary-border-color) 1px solid;
	cursor: text;
}

.button {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	font-size: 15px;
	background-color: var(--gray-3);
}
.input {
	font-size: 18px;
	height: 2.5rem;
}
