.explorer {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	flex: 1 1 0%;

	width: 100%;

	background-color: var(--gray-2);
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 1rem 1rem 0 1rem;
}

.headerActions {
	display: flex;
	flex-direction: row;
	gap: 0.1rem;

	opacity: 0.5;
	cursor: pointer;
}

.itemsWrapper {
	/* display: flex; */
	flex: 1 1 0%;

	overflow-y: scroll;

	padding: 0 1rem;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	width: 100%;

	padding: 0.5rem;

	backdrop-filter: blur(10px);
}

.splitButtons {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	background-color: var(--gray-3);

	padding: 0;
	min-width: 0;
}

.splitButton {
	width: 10rem;
}
