.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cardContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	overflow-x: auto;
}

.emptySuggestions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 14rem;

	opacity: 0.5;
}
