body {
	margin: 0;

	color: #fff;
	background-color: var(--gray);
}

:root {
	--gray: #202021;
	--gray-2: #323233;
	--gray-3: #58585c;

	--blue: #313fbc;

	--text-primary: #ffffff;

	--notification-info: #444444;
	--notification-success: #313fbc;
	--notification-warning: #d9743a;
	--notification-error: #d93a55;
}

input,
button {
	border: none;
}

a {
	text-decoration: none;
	color: #fff;
}
