html,
body {
	margin: 0;
	padding: 0;

	height: 100%;

	color: #fff;
	background-color: var(--gray);
}

:root {
	--dark: #181717b7;

	--gray: #202021;
	--gray-2: #323233;
	--gray-3: #58585c;

	--blue: #313fbc;

	--text-primary: #ffffff;

	--notification-info: #444444;
	--notification-success: #313fbc;
	--notification-warning: #d9743a;
	--notification-error: #d93a55;
}

input,
button {
	border: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

.small {
	font-weight: 600;
	font-size: 13px;
	opacity: 0.5;
}
